body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  background-image: url(images/fon.webp);
  background-position: center;
  background-size: cover;
}

