body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #a5a5a5;
  background-image: url(images/fon.webp);
  background-position: center;
  background-size: cover;
}

.container {
  position: relative;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-around;
  width: 320px;
  font-size: 15px;
}

.size {
  border: 1px solid;
  padding: 1px 4px;
  cursor: pointer;
}

.size:active {
  color: aliceblue;
}

.current-size {
  border: 1px solid;
  padding: 1px 4px;
  color: #00e2bb
}

.btn {
  cursor: pointer;
  border: 1px solid;
  border-radius: 3px;
  padding: 4px 6px;
  background-color: #7070703d;
}

.btn:active {
  background-color: #f1f0f03d;
  color: rgb(197, 198, 199);
}

.time,
.moves {
  width: 150px;
  padding-left: 48px;
}

svg {
  width: 16px;
  height: 16px;
}

path {
  fill: #a5a5a5;
  stroke: #a5a5a5;
}

.res-container {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  width: 320px;
  height: 0;
  top: 81px;
  background-color: black;
  transition: all 0.4s;
}

.res-container-active {
  height: 404px;
}

.res-size {
  cursor: pointer;
}

.res-size:active {
  color: aliceblue;
}

.res-heading {
  color: #00e2bb;
  width: 106px;
  text-align: center;
}

.res-headings {
  border-bottom: 1px solid #00e2bb;
  padding-bottom: 4px;
}

.res-row {
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 4px;
  height: 17px;
}

.row {
  display: inline-block;
  width: 106px;
  text-align: center;
}